<div class="valign-wrapper">
    <div class="container">
      <table>
        {{#each burgers}}
        {{> burgers/burger-block}}
        {{/each}}
      </table>
    </div>
    <div class="container center-align m10">
      <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1" class="black-text">Burgers</label>
          </div>
        </div>
      </form>
  </div>
    </div>
    <div class="container">
      <button data-target="modal1" class="btn modal-trigger black">Devoured</button>
     </div>
  </div>
  
          


  
  

  
