<div class="valign-wrapper">
    <div class="container">
      <table>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </table>
      <div class="container">
        <table>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/if}}
          {{/each}}
        </table>
      </div>
   
    
      <div class="row">
        <form class="create-form col s6">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="create-burger" name="burger-name" class="materialize-textarea"></textarea>
              <label for="textarea1" name="burger-name">Create Burger</label>
            </div>
          </div>
          <button type="submit" class="btn waves-effect black">Add Burger</button>
        </form>
      </div>
     </div><!--End container-->
  </div>
    
  
          


  
  

  
