<li class="white collection-item z-depth-3">
    {{burger_name}} {{#unless devoured}}
    <div class="devour">
    <a class="btn-floating waves-effect black eat" data-id="{{id}}"><i class="material-icons">mood</i></a>
    </div>
    
    {{/unless}}
    <div class="devoured" style="margin-top: 4px;">
        <a class="btn-floating black delete" data-id="{{id}}"><i class="material-icons">do_not_disturb</i></a>
    </div>
</li>
