<li class="white collection-item">
    {{burger_name}} {{#unless devoured}}
    <div class="devour">
    <button class="btn black eat" data-id="{{id}}">Devour</button>
    </div>
    
    {{/unless}}
</li>
